html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-image: url(https://img.freepik.com/free-vector/vintage-ornamental-flowers-background_52683-28040.jpg?size=626&ext=jpg);

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.card {
  margin: 0px auto;
  max-width: 40rem;
}
.card img {
  width: 12rem;
  margin: 1.6rem 0px;
  margin-left: 1rem;
}
